{% extends "base.html" %} 
{% block title %} Последние обновления {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'customcss/style.css' %}">
    <h1> Последние обновления на сайте<h1>

{% for post in page %}
    <h3>
         Автор: <a href="/{{post.author.username}}/">{{ post.author.get_full_name }}</a>, Дата публикации: {{ post.pub_date|date:"d M Y" }}
         <a href="/{{post.author.username}}/{{post.id}}/"><strong class="d-block text-gray-dark"> Страница поста </strong></a>
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>
    <hr>
{% endfor %}

<div class="paginator_container">
    <!-- Здесь постраничная навигация паджинатора -->
    {% if page.has_other_pages %}
    {% include "paginator.html" %}
    {% endif %}
</div>

{% endblock %}