{% load static %}
<nav class="paginator_nav"><span class="paginator_text">SELECT PAGE</span>
{% if page.has_previous %}
  <div class="paginator_div" id = "left">
    <a class="pagebtn" id="prev"><span class="paginator_icon"><img src="{% static 'bootstrap_icons/chevron-left.svg' %}"></span></a>
    <a href="?page=1" class="pagebtn">1</a>
    <a href="?page={{ page.previous_page_number }}" class="pagebtn">PREV</a>
    <span class="line"></span>
  </div>
{% endif %}
{% if page.has_next %}
  <div class="paginator_div" id = "right">
    <a class="pagebtn" id="next"> <span class="paginator_icon"><img src="{% static 'bootstrap_icons/chevron-right.svg' %}"></span></a>
    <a href="?page={{ page.next_page_number }}" class="pagebtn">NZXT</a>
    <a href="?page={{ page.paginator.num_pages }}" class="pagebtn">{{ page.paginator.num_pages }}</a>
    <span class="line"></span>
  </div>
{% endif %}
</nav>
